<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="c3906fed-c0e4-46f6-adf7-88c01ae493d5" Publisher="CN=martin.gemme" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Ets.Mobile.Windows</DisplayName>
    <PublisherDisplayName>martin.gemme</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="Ets.Mobile.Windows.exe" EntryPoint="Ets.Mobile.Windows.App">
      <m2:VisualElements DisplayName="Ets Mobile" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Ets Mobile for Windows 8.1" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#CC0100" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>